h1.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 600;
  color: #35495e;
  letter-spacing: -0.04em;
  font-size: 3em;
  line-height: 1em;
}

@media only screen and (min-width: 500px)  {
  h1.title {
    font-size: 4em;
  }
}

h2.subtitle {
  font-weight: 300;
  font-size: 2em;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 500px)  {
  h2.subtitle {
    font-size: 3em;
  }
}

a {
  color: inherit;
}

a:active {
  color: #3987d9;
}

button {
  border: none;
  display: inline-block;
  appearance: none;
  color: #000;
  background-color: #fff;
  padding: 0.25em 0.5em;
  margin: 0 0.25em;
  border: 2px solid #000;
  outline: none;
}

button:active {
  background-color: #000;
  color: #fff;
}
